/* GRID *******************************************************************************/

.visdesign-bento {
  margin-top: 6rem;
  --bento-gap: 2rem;
  gap: var(--bento-gap);
  display: flex;

  p {
    text-align: center;
    margin-top: 0.5rem;
    color: #a7aecc;
  }
}

.col1 {
  display: flex;
  flex-direction: column;
  gap: var(--bento-gap);
}

.row2 {
  display: flex;
  gap: var(--bento-gap);
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: var(--bento-gap);
}

/* Define column widths */
/* Tablet */
@media (min-width: 701px) and (max-width: 1000px) {
  .col1,
  .col2 {
    flex: 1; /* Equal width */
  }
}
/* Desktop */
@media (min-width: 1001px) {
  .col1 {
    flex: 2; /* Twice the width of .col2 */
  }
  .col2 {
    flex: 1;
  }
}

/* No scroll animation on mobile */
/* Change pixel value if changed in React file */
@media (min-width: 701px) {
  .col1 {
    transform: translateY(calc(var(--scroll-position, 0) * 0.05px));
    /* will-change: transform; */
  }
  .col2 {
    transform: translateY(calc(var(--scroll-position, 0) * -0.05px));
    /* will-change: transform; */
  }

  @media (prefers-reduced-motion: reduce) {
    .col1 {
      transform: none;
    }
    .col2 {
      transform: none;
    }
  }
}

/* PIECES *******************************************************************************/

.piece {
  padding: 5px;

  /* Squircle border color */
  background: rgba(224, 229, 255, 0.3);

  &::before {
    /* Squircle background color  */
    background: var(--bg-color);
  }
}
