/* GRID *******************************************************************************/

.visdesign-bento {
  margin-top: 4rem;
  --bento-gap: 2rem;
  gap: var(--bento-gap);
  display: flex;
  /* will-change: transform; */
}

.col1 {
  display: flex;
  flex-direction: column;
  gap: var(--bento-gap);
  /* will-change: transform; */
}

.row2 {
  display: flex;
  gap: var(--bento-gap);
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: var(--bento-gap);
  /* will-change: transform; */
}

/* No scroll animation on mobile */
/* Change pixel value if changed in React file */
@media (min-width: 701px) {
  .col1 {
    transform: translateY(calc(var(--scroll-position, 0) * 0.05px));
  }

  .col2 {
    transform: translateY(calc(var(--scroll-position, 0) * -0.05px));
  }
}

/* PIECES *******************************************************************************/

.piece {
  padding: 5px;

  /* Squircle border color */
  background: rgba(255, 255, 255, 0.3);

  &::before {
    /* Squircle background color  */
    background: var(--bg-color);
  }
}
