.marquee-container {
  --gap: 2rem;
  position: absolute;
  top: 0;
  /* left: 0; */
  overflow: hidden;
  z-index: -1;
  user-select: none;

  display: flex;
  gap: var(--gap);
  height: 100%;
  /* width: 100%; */
}

.marquee-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.marquee-track {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  animation: hero-marquee 50s linear infinite;
  /* flex-shrink: 0; */
}

.marquee-rectangle {
  width: 250px;
  height: 250px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;

  .img {
    opacity: 0.1;
    max-width: 175px;
    max-height: 175px;
    filter: saturate(0);
  }

  .hand {
    opacity: 0.09;
    max-height: 200px;
    align-self: end;
  }

  .hip {
    opacity: 0.05;
    max-height: 200px;
    align-self: end;
    translate: -8px 0;
  }

  .brain {
    opacity: 0.05;
    max-height: 188px;
    align-self: end;
  }

  .angiogram {
    opacity: 0.09;
    max-height: 200px;
    align-self: end;
    translate: 10px 0;
  }

  .protein {
    opacity: 0.07;
    max-width: 150px;
    max-height: 150px;
    filter: saturate(0);
  }
}

.reverse {
  animation-direction: reverse;
}

@keyframes hero-marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
