.hero {
  min-height: calc(100vh - 5.5rem);
  display: flex;
  flex-direction: column;

  h1 {
    flex-grow: 1;
    align-content: center;
    font-size: 9rem;
    font-weight: 600;
    line-height: 1.1;
  }

  p {
    max-width: 70ch;
    font-size: 1.25rem;
  }

  .hero-details {
    padding-top: 0.75rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    button {
      color: var(--bg-color);
      padding-inline: 0.5rem;
      padding-block: 0.25rem;
      font-weight: 500;
      font-size: 0.9rem;
    }

    .fine-print {
      display: flex;
      align-items: center;
      opacity: 0.4;

      span {
        font-size: 1.5rem;
        margin-right: -1px;
        margin-bottom: -1px;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
