.marquee-container {
  --gap: 2rem;
  --gap-mobile: 1rem;
  /* --gap-large: 3rem; */
  position: absolute;
  top: 0;
  /* left: 0; */
  overflow: hidden;
  z-index: -1;
  user-select: none;

  display: flex;
  gap: var(--gap);
  height: 100%;
  /* width: 100%; */
}

.marquee-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.marquee-track {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  animation: hero-marquee 70s linear infinite;
  /* flex-shrink: 0; */
}

@media (prefers-reduced-motion: reduce) {
  .marquee-track {
    animation: none;
  }
}

.marquee-rectangle {
  width: 250px;
  height: 250px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;

  .img {
    opacity: 0.11;
    max-width: 70%;
    max-height: 70%;
    filter: saturate(0);
  }

  .fw5 {
    max-height: 65%;
  }

  .hand {
    opacity: 0.09;
    max-height: 80%;
    align-self: end;
  }

  .hip {
    opacity: 0.05;
    max-height: 80%;
    align-self: end;
    translate: -8px 0;
  }

  .brain {
    opacity: 0.05;
    max-height: 75%;
    align-self: end;
  }

  .angiogram {
    opacity: 0.09;
    max-height: 80%;
    align-self: end;
    translate: 10px 0;
  }

  .pace {
    opacity: 0.09;
    max-height: 65%;
    align-self: center;
  }

  .protein {
    opacity: 0.08;
    max-width: 60%;
    max-height: 60%;
    filter: saturate(0);
  }
}

.reverse {
  animation-direction: reverse;
}

@keyframes hero-marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

/* MEDIA QUERIES ****************************************************************************************************************/

/* 657px is when the marquee-rectangle starts getting smaller than 250px */
@media (max-width: 657px) {
  .marquee-container {
    gap: var(--gap-mobile);
  }

  .marquee-column {
    gap: var(--gap-mobile);
  }

  .marquee-track {
    gap: var(--gap-mobile);
  }

  @keyframes hero-marquee {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(calc(-100% - var(--gap-mobile)));
    }
  }

  .marquee-rectangle {
    width: clamp(150px, 39vw, 250px);
    height: clamp(150px, 39vw, 250px);
  }
}

/* For large monitors */
/* @media (min-width: 3000px) {
  .marquee-container {
    gap: var(--gap-large);
  }

  .marquee-column {
    gap: var(--gap-large);
  }

  .marquee-track {
    gap: var(--gap-large);
  }

  @keyframes hero-marquee {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(calc(-100% - var(--gap-large)));
    }
  }
} */
