/* GRID *******************************************************************************/

.bio-bento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "techniques labs organisms"
    "neuro red-cross red-cross"
    "neuro award award";
  gap: 2rem;
  padding-top: 5rem;
}

@media (max-width: 1147px) {
  .bio-bento {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "techniques labs"
      "organisms neuro"
      "red-cross neuro"
      "award award";
  }
}

@media (max-width: 775px) {
  .bio-bento {
    grid-template-columns: 1fr;
    grid-template-areas:
      "techniques"
      "labs"
      "organisms"
      "neuro"
      "red-cross"
      "award";
  }
}

@media (max-width: 420px) {
  .bio-bento {
    gap: 1rem;
  }
}

/* CARDS *******************************************************************************/

.test {
  /* background: linear-gradient(#e66465, #9198e5); */
  background: radial-gradient(circle at 0% 0%, #423d49, #3b3643 90%);
  border: white solid 1px;
  width: 380px;
  border-radius: 4%;
  margin-top: 2rem;
}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 375px;
  position: relative;
  /* backdrop-filter: blur(100px); */

  h4 {
    font-size: 2rem;
  }

  p {
    padding-top: 2rem;
  }

  /* heading text and photo outline */
  --orange-accent: #ff7c5c;
  /* card bg */
  --orange-bg: #423b46;
  /* paragraph text */
  --orange-light: #d9a598;
  /* card border */
  /* --orange-faint: rgba(255, 159, 128, 0.15); */

  --red-accent: #ff4d5d;
  --red-bg: #423847;
  --red-light: #d9989e;
  /* --red-faint: rgba(255, 128, 138, 0.15); */

  --pink-accent: #ff59ba;
  --pink-bg: #42384e;
  /* --pink-faint: rgba(255, 128, 202, 0.15); */
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.photo-squircle {
  height: 96px;
  width: 96px;
}

.photo-outline {
  height: 106px;
  width: 106px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-outline {
  &::before {
    /* Squircle background color  */
    background: var(--orange-bg);
  }

  /* Squircle border color */
  background: var(--orange-accent);
}

.neuro-outline {
  &::before {
    /* Squircle background color  */
    background: var(--pink-bg);
  }

  /* Squircle border color */
  background: var(--pink-accent);
}

.red-outline {
  &::before {
    /* Squircle background color  */
    background: var(--red-bg);
  }

  /* Squircle border color */
  background: var(--red-accent);
}

.heartbeat {
  animation: beat 4s ease-out infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  4% {
    transform: scale(0.9);
  }
  /* overshoot */
  8% {
    transform: scale(1.01);
  }
  12% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: reduce) {
  .heartbeat {
    animation: none;
  }
}

.techniques {
  grid-area: techniques;

  &::before {
    /* Squircle BACKGROUND color  */

    /* solid color */
    /* background: var(--orange-bg); */

    /* subtle gradient - banding in desktop Safari and Firefox, and Android Firefox */
    /* background: radial-gradient(circle at 0% 0%, #423d49, #3b3643 90%); */

    /* TESTING: */

    /* rgb instead of hex - less banding */
    /* background: radial-gradient(
      circle at 0% 0%,
      rgba(66, 61, 73, 1),
      rgba(59, 55, 67, 1) 90%
    ); */

    /* gradient from same color to same color - banding - wtf? */
    /* background: radial-gradient(
      circle at 0% 0%,
      hsl(260, 10, 24),
      hsl(260, 10, 24) 90%
    ); */

    /* linear gradient - banding */
    background: linear-gradient(hsl(260, 10, 24), hsl(260, 10, 24) 90%);
  }

  /* Squircle BORDER color */
  /* background: var(--orange-faint); */
  background: radial-gradient(
    circle at 0% 0%,
    rgba(255, 159, 128, 0.2),
    rgba(255, 159, 128, 0.1) 90%
  );

  h4 {
    color: var(--orange-accent);
  }

  p {
    color: var(--orange-light);
  }
}

.labs {
  grid-area: labs;

  &::before {
    /* Squircle background color  */
    /* background: var(--orange-bg); */
    background: radial-gradient(circle at 0% 0%, #423d49, #3b3643 90%);
  }

  /* Squircle border color */
  /* background: var(--orange-faint); */
  background: radial-gradient(
    circle at 0% 0%,
    rgba(255, 159, 128, 0.2),
    rgba(255, 159, 128, 0.1) 90%
  );

  h4 {
    color: var(--orange-accent);
  }

  p {
    color: var(--orange-light);
  }
}

.organisms {
  grid-area: organisms;

  &::before {
    /* Squircle background color  */
    /* background: var(--orange-bg); */
    background: radial-gradient(circle at 0% 0%, #423d49, #3b3643 90%);
  }

  /* Squircle border color */
  /* background: var(--orange-faint); */
  background: radial-gradient(
    circle at 0% 0%,
    rgba(255, 159, 128, 0.2),
    rgba(255, 159, 128, 0.1) 90%
  );

  h4 {
    color: var(--orange-accent);
  }

  p {
    color: var(--orange-light);

    span {
      font-style: italic;
    }
  }
}

.neuro {
  grid-area: neuro;

  &::before {
    /* Squircle background color  */
    /* background: var(--pink-bg); */
    background: radial-gradient(circle at 0% 0%, #423b4f, #3b3548 90%);
  }

  /* Squircle border color */
  /* background: var(--pink-faint); */
  background: radial-gradient(
    circle at 0% 0%,
    rgba(255, 128, 202, 0.2),
    rgba(255, 128, 202, 0.1) 90%
  );

  h4 {
    color: var(--pink-accent);
  }

  p {
    color: #d998be;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      color: var(--pink-accent);
    }
  }
}

.red-cross {
  grid-area: red-cross;

  &::before {
    /* Squircle background color  */
    /* background: var(--red-bg); */
    background: radial-gradient(circle at 0% 0%, #423b4a, #3b3544 90%);
  }

  /* Squircle border color */
  /* background: var(--red-faint); */
  background: radial-gradient(
    circle at 0% 0%,
    rgba(255, 128, 138, 0.2),
    rgba(255, 128, 138, 0.1) 90%
  );

  h4 {
    color: var(--red-accent);
  }

  p {
    color: var(--red-light);
  }
}

.award {
  grid-area: award;

  &::before {
    /* Squircle background color  */
    /* background: var(--red-bg); */
    background: radial-gradient(circle at 0% 0%, #423b4a, #3b3544 90%);
  }

  /* Squircle border color */
  /* background: var(--red-faint); */
  background: radial-gradient(
    circle at 0% 0%,
    rgba(255, 128, 138, 0.2),
    rgba(255, 128, 138, 0.1) 90%
  );

  h4 {
    color: var(--red-accent);
  }

  p {
    color: var(--red-light);
  }
}
