/* GRID *******************************************************************************/

.bio-bento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "techniques labs organisms"
    "neuro red-cross red-cross"
    "neuro award award";
  gap: 2rem;
  padding-top: 4rem;
}

@media (max-width: 1147px) {
  .bio-bento {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "techniques labs"
      "organisms neuro"
      "red-cross neuro"
      "award award";
  }
}

@media (max-width: 775px) {
  .bio-bento {
    grid-template-columns: 1fr;
    grid-template-areas:
      "techniques"
      "labs"
      "organisms"
      "neuro"
      "red-cross"
      "award";
  }
}

@media (max-width: 420px) {
  .bio-bento {
    gap: 1rem;
  }
}

/* CARDS *******************************************************************************/

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 375px;

  h4 {
    font-size: 2rem;
  }

  p {
    padding-top: 2rem;
  }

  --orange-accent: #ff8359;
  --orange-bg: #423b46;
  --orange-light: #d9a898;

  --red-accent: #ff4d5d;
  --red-bg: #423847;
  --red-light: #d9989e;

  --pink-accent: #ff59ba;
  --pink-bg: #42384e;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.photo-squircle {
  height: 96px;
  width: 96px;
}

.photo-outline {
  height: 106px;
  width: 106px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-outline {
  &::before {
    /* Squircle background color  */
    background: var(--orange-bg);
  }

  /* Squircle border color */
  background: var(--orange-accent);
}

.neuro-outline {
  &::before {
    /* Squircle background color  */
    background: var(--pink-bg);
  }

  /* Squircle border color */
  background: var(--pink-accent);
}

.red-outline {
  &::before {
    /* Squircle background color  */
    background: var(--red-bg);
  }

  /* Squircle border color */
  background: var(--red-accent);
}

.techniques {
  grid-area: techniques;

  &::before {
    /* Squircle background color  */
    background: var(--orange-bg);
  }

  /* Squircle border color */
  /* &:hover {
    background: var(--orange-accent);
  }  */

  h4 {
    color: var(--orange-accent);
  }

  p {
    color: var(--orange-light);
  }
}

.labs {
  grid-area: labs;

  &::before {
    /* Squircle background color  */
    background: var(--orange-bg);
  }

  /* Squircle border color */
  /* &:hover {
    background: var(--orange-accent);
  } */

  h4 {
    color: var(--orange-accent);
  }

  p {
    color: var(--orange-light);
  }
}

.organisms {
  grid-area: organisms;

  &::before {
    /* Squircle background color  */
    background: var(--orange-bg);
  }

  /* Squircle border color */
  /* &:hover {
    background: var(--orange-accent);
  } */

  h4 {
    color: var(--orange-accent);
  }

  p {
    color: var(--orange-light);

    span {
      font-style: italic;
    }
  }
}

.neuro {
  grid-area: neuro;

  &::before {
    /* Squircle background color  */
    background: var(--pink-bg);
  }

  /* Squircle border color */
  /* &:hover {
    background: var(--pink-accent);
  } */

  h4 {
    color: var(--pink-accent);
  }

  p {
    color: #d998be;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      color: var(--pink-accent);
    }
  }
}

.red-cross {
  grid-area: red-cross;

  &::before {
    /* Squircle background color  */
    background: var(--red-bg);
  }

  /* Squircle border color */
  /* &:hover {
    background: var(--red-accent);
  } */

  h4 {
    color: var(--red-accent);
  }

  p {
    color: var(--red-light);
  }
}

.award {
  grid-area: award;

  &::before {
    /* Squircle background color  */
    background: var(--red-bg);
  }

  /* Squircle border color */
  /* &:hover {
    background: var(--red-accent);
  } */

  h4 {
    color: var(--red-accent);
  }

  p {
    color: var(--red-light);
  }
}
