header {
  position: sticky;
  z-index: 2;
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 0.75rem;
    opacity: 0.5;
  }

  .right-align {
    text-align: right;
  }
}

/* .logo {
  display: flex;
  gap: 3px;
  align-items: center;
} */
