.dev-bento {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "am-browser am-browser bola"
    "fm analyzer analyzer"
    "staph staph nothing";
  row-gap: 4rem;
  column-gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.cover {
  padding: 1.5rem;
  border-radius: 12px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.am-browser {
  grid-area: am-browser;

  .cover {
    background-color: #ff5b42;
  }
}

.bola {
  grid-area: bola;

  .cover {
    background-color: #6185f2;
  }
}

.fm {
  grid-area: fm;

  .cover {
    background-color: #467ee5;
  }
}

.analyzer {
  grid-area: analyzer;

  .cover {
    background-color: #ff4b4b;
  }
}

.staph {
  grid-area: staph;

  .cover {
    background-color: #7869bf;
  }
}

/* MEDIA QUERIES  ***************************************************************************************************************/

@media (max-width: 998px) {
  .dev-bento {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "am-browser am-browser"
      "bola fm"
      "analyzer analyzer"
      "staph staph";
  }
}

@media (max-width: 676px) {
  .dev-bento {
    grid-template-columns: 1fr;
    grid-template-areas:
      "am-browser"
      "bola"
      "analyzer"
      "fm"
      "staph";
  }
}
