.dev-bento {
  padding-top: 6rem;

  /* Flex */
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

/*****************************************************************************************************************************/

.project {
  display: flex;
  /* Gap between cover and description */
  gap: 1.5rem;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

/* This class includes the outline */
.cover {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  align-items: center;
  transition: all 0.3s ease;

  img {
    max-height: 600px;
  }

  /*** SQUIRCLE ***/

  /*** Squircle border color ***/
  /* Gradient outline - light blue */
  background: radial-gradient(
    circle at top center,
    rgba(229, 234, 255, 1),
    rgba(229, 234, 255, 0.2) 30%
  );

  /*** Squircle background color  ***/
  &::before {
    /* This color is light blue of 5% opacity on dark blue bg */
    background: #363a4a;
  }
}

.vid {
  width: 100%;
  justify-items: center;

  img {
    outline-offset: -2px;
  }
}

.staph-vid {
  background-color: #f3f3f7;

  img {
    outline: #f3f3f7 solid 2px;
  }
}

.analyzer-vid {
  background-color: #fefefe;

  img {
    outline: #fefefe solid 3px;
  }
}

.am-vid {
  background-color: #222222;

  img {
    outline: #222222 solid 2px;
  }
}

/* Scale .cover when hovering over .project-title *********************************************************************************/
.project:has(.project-title:hover) .cover {
  /* rotate: -3deg; */
  scale: 1.02;
}

.project:has(.project-title:hover) .am-browser-outline {
  background: #ff5b42;
}

.project:has(.project-title:hover) .bola-outline {
  background: #668cff;
}

.project:has(.project-title:hover) .analyzer-outline {
  background: #ff4b4b;
}

.project:has(.project-title:hover) .fm-outline {
  background: #4e8cff;
}

.project:has(.project-title:hover) .staph-outline {
  background: #9381eb;
}

/* MEDIA QUERIES  ***************************************************************************************************************/

@media (max-width: 998px) {
}

@media (max-width: 676px) {
}
