.project-description {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.project-title {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  max-width: fit-content;

  .icon {
    transition: all 0.2s ease;
  }

  &:hover .icon {
    transform: translate(1px, -1px) rotate(360deg);
  }
}

.project-text {
  max-width: 40ch;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-top: 0.7rem;
}

.chip {
  padding-inline: 0.9rem;
  padding-block: 0.3rem;
  border-radius: 99px;
  font-size: 0.9rem;
  font-weight: 550;
}
