.project-description {
  display: flex;
  flex-direction: column;
  /* Gap between title, text and chips */
  gap: 0.5rem;
}

.project-title {
  display: flex;
  gap: 6px;
  align-items: center;
  /* So that the link doesn't extend to empty space */
  width: fit-content;

  .icon {
    transition: all 0.2s ease;
    margin-top: 5px;
  }

  &:hover .icon {
    transform: translate(2px, -2px) rotate(360deg);
  }

  &:hover .is-local {
    transform: translateX(2px) rotate(360deg);
  }

  &:hover .under-construction {
    transform: translateX(2px) rotate(360deg);
  }
}

.project-text {
  /* max-width: 40ch; */

  a {
    color: #ff5b42;
    transition: all 0.1s ease;

    &:hover {
      color: #ff8875;
    }
  }
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  padding-top: 0.5rem;
}

.chip {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 550;
}
