footer {
  padding-top: 9rem;
  padding-bottom: 0.25rem;
  display: flex;
  /* justify-content: space-between; */
  gap: 5rem;
  align-items: center;
}

.photo-dave {
  padding: 6px;
  min-width: max-content;
  min-height: max-content;

  /* Squircle border color */
  background: var(--accent-color);

  &::before {
    /* Squircle background color  */
    background: var(--bg-color);
  }

  /* Hover effect */
  transition: all 0.2s ease;

  &:hover {
    scale: 1.03;
    rotate: -3deg;
  }
}

.content-grid {
  width: 100%;
  padding-bottom: 0.75rem;
  display: grid;
  grid-template-areas:
    "contact built-with btn"
    "feedback copyright props";
  row-gap: 2.5rem;
  /* column-gap: 2.75rem; */
  justify-content: space-between;

  h3 {
    color: var(--accent-color);
    padding-bottom: 4px;
    text-align: left;
  }

  .scroll-btn {
    grid-area: btn;
    background-color: rgba(255, 140, 102, 0.1);
    color: var(--accent-color);
    border: 0;
    border-radius: 7px;
    padding-left: 1rem;
    padding-right: 1.1rem;
    padding-block: 0.6rem;
    font-weight: 550;
    width: fit-content;
    height: min-content;
    outline: 1.5px solid rgba(255, 140, 102, 0.15);
  }

  .scroll-btn:hover {
    outline: 1.5px solid var(--accent-color);
    /* outline-offset: 4px; */
  }

  .scroll-btn:hover span {
    /* display: inline-block; */
    transform: translateY(-16px);
  }

  /* Arrows */
  span {
    display: inline-block;
    transition: all 0.15s ease;
  }

  .props {
    grid-area: props;
    max-width: 50ch;
    color: var(--dim);
    font-size: 0.8rem;
    line-height: 1.4;
    align-self: end;
  }
}

.contact {
  grid-area: contact;
}

.feedback {
  grid-area: feedback;
}

.built-with {
  grid-area: built-with;
}

.copyright {
  grid-area: copyright;
}

.icon-and-text {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  border: none;
  transition: all 0.15s ease;
}

.icon-and-text:not(.copied, .react):hover {
  /* color: #ccd5ff; */

  .copy-icon {
    color: var(--accent-color);
  }

  .blocks-icon {
    transform: rotate(-90deg);
    color: var(--accent-color);
  }
}

.copied {
  color: #80ffaa;
}

.blocks-icon {
  margin-bottom: 1.5px;
  transition: all 0.15s ease;
}

.react-icon {
  margin-bottom: 1px;
  /* transition: all 0.15s ease; */
}

.react {
  transition: all 0.15s ease;
}

.react:hover {
  color: #00d8ff;

  svg {
    animation: rotation 3s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES ****************************************************************************************************************/

@media (max-width: 900px) {
  footer {
    flex-direction: column;
    gap: 3.25rem;
  }
}

@media (max-width: calc(690px + 1rem)) {
  /* .info-segment {
    gap: 2rem;
  } */

  .content-grid {
    row-gap: 1.5rem; /* Vertical gap between rows */
    column-gap: 2rem; /* Horizontal gap between columns */
  }
}

@media (max-width: 662px) {
  footer {
    flex-direction: column;
    /* above hero-detail */
    gap: 2.75rem;
  }

  .content-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "contact"
      "feedback"
      "built-with"
      "copyright";
    width: fit-content;
  }
}

/* Add space at the bottom of the page as padding-x gets wider after reaching the max-width of 1280px of root */
@media (min-width: 1281px) {
  footer {
    padding-bottom: 1rem;
  }
}
