footer {
  padding-top: 9rem;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: space-between;
  /* gap: 5.5vw; */
  align-items: center;
}

footer:has(.email:hover) .photo-dave {
  scale: 1.03;
  rotate: -3deg;
}

footer:has(.copied) .photo-dave {
  background: #80ffaa;
  animation: photo 0.25s ease-out;
}

@keyframes photo {
  0% {
    scale: 1.03;
  }
  50% {
    scale: 0.95;
  }
  100% {
    scale: 1.03;
  }
}

.photo-dave {
  padding: 6px;
  min-width: max-content;
  min-height: max-content;

  /* Squircle border color */
  background: var(--accent-color);

  &::before {
    /* Squircle background color  */
    background: var(--bg-color);
  }

  /* Hover effect */
  transition: all 0.2s ease;

  &:hover {
    scale: 1.03;
    rotate: -3deg;
  }
}

.content-grid {
  width: 71.1%;
  padding-bottom: 0.75rem;
  display: grid;
  grid-template-areas:
    "contact built-with btn"
    "feedback copyright props";
  row-gap: 2.5rem;
  /* column-gap: 2.75rem; */
  justify-content: space-between;

  h3 {
    color: var(--accent-color);
    padding-bottom: 4px;
    padding-top: 0;
    text-align: left;
  }

  .scroll-btn {
    grid-area: btn;
    background-color: rgba(255, 140, 102, 0.1);
    color: var(--accent-color);
    border: 0;
    border-radius: 7px;
    padding-left: 1rem;
    padding-right: 1.1rem;
    padding-block: 0.6rem;
    font-weight: 550;
    width: fit-content;
    height: min-content;
    outline: 1.5px solid rgba(255, 140, 102, 0.15);
  }

  .scroll-btn:hover {
    outline: 1.5px solid var(--accent-color);
    /* outline-offset: 4px; */
  }

  .scroll-btn:hover span {
    /* display: inline-block; */
    transform: translateY(-16px);
  }

  /* Arrows */
  span {
    display: inline-block;
    transition: all 0.15s ease;
  }

  .props {
    grid-area: props;
    max-width: 50ch;
    color: var(--dim);
    font-size: 0.8rem;
    line-height: 1.4;
    align-self: end;

    a {
      transition: all 0.15s ease;
    }

    a:hover {
      color: var(--accent-color);
    }
  }
}

.contact {
  grid-area: contact;
}

.feedback {
  grid-area: feedback;
}

.built-with {
  grid-area: built-with;
}

.copyright {
  grid-area: copyright;
}

.icon-and-text {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  border: none;
  transition: all 0.15s ease;
  /* position: relative; */
}

.icon-and-text:not(.copied, .react):hover {
  /* color: #ccd5ff; */
  transition: all 0.15s ease;

  .copy-icon {
    color: var(--accent-color);
    transition: all 0.15s ease;
  }

  .blocks-icon {
    transform: rotate(-90deg);
    color: var(--accent-color);
    transition: all 0.15s ease;
  }
}

.email-text-container {
  position: relative;
  display: inline-block;
}

.email-text {
  transition: opacity 0.15s ease;
  opacity: 0;
}

.fade-in {
  opacity: 1;
  display: inline;
}

.fade-out {
  opacity: 0;
  display: none;
}

.copied {
  color: #80ffaa;
}

.blocks-icon {
  margin-bottom: 1.5px;
  transition: all 0.15s ease;
}

.react-icon {
  margin-bottom: 1px;
  /* transition: all 0.15s ease; */
}

.react {
  transition: all 0.15s ease;
}

.react:hover {
  color: #00d8ff;

  svg {
    animation: rotation 3s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES ****************************************************************************************************************/

/* 3-column */
/* TODO: fix */
@media (max-width: 1180px) {
  .content-grid {
    grid-template-areas:
      "contact built-with"
      "feedback copyright"
      "btn props";
    align-items: end;
    padding-bottom: 0.1rem;
    row-gap: 2.25rem;
    /* width: 63.5%; */
    /* width: 62vw; */
    /* width: fit-content; */
    column-gap: 4rem;
    padding-left: 3rem;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
  }

  /* footer {
    gap: clamp(2rem, 3rem, 4rem);
  } */
}

/* 2-column */
@media (max-width: 1043px) {
  .content-grid {
    grid-template-areas:
      "contact"
      "built-with"
      "feedback"
      "copyright"
      "btn "
      "props";
    width: fit-content;
    row-gap: 2.5rem;
    column-gap: normal;
    padding-left: 0;

    .props {
      /* break into 3 lines */
      max-width: 36ch;
    }
  }

  footer {
    align-items: start;
    justify-content: center;
    gap: 4rem;
  }
}

/* 2-column - reduce gaps on narrower screens */
@media (max-width: 740px) {
  footer {
    gap: 3rem;
  }

  .content-grid {
    row-gap: 2rem;
  }
}

/* 1-column */
@media (max-width: 680px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  /* to left align with grid text */
  .photo-dave {
    translate: -16px 0;
  }
}

/* Add space at the bottom of the page as padding-x gets wider after reaching the max-width of 1280px of root */
@media (min-width: 1281px) {
  footer {
    padding-bottom: 1rem;
  }
}
