:root {
  /* COLORS *******************************************************************************/

  --bg-color: #2d3040;
  --primary-color: #e5eaff;
  --accent-color: #ff9f80;
  background-color: var(--bg-color);
  color: var(--primary-color);

  /* FONT *******************************************************************************/

  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1, "dlig" 0, "case" 0, "zero" 0,
    "ss01" 1, "ss03" 0, "cv06" 1, "cv05" 0;
  /* Besides default liga and calt, I ended up enabling alt numbers and different 'u' */

  /* Font Options: */

  font-optical-sizing: auto;
  /* Whether or not the browser may synthesize bold, italic, small-caps, sub- and superscript when they're missing in the font-family. */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/****************************************************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  /* Below is so that long-press on a button (on mobile) doesn't select the btn text */
  user-select: none;
  -webkit-user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  line-height: inherit;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
li,
figcaption,
blockquote {
  text-wrap: pretty;
}

ol,
ul {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

/****************************************************************************************/

body {
  min-width: 360px;
  min-height: 100vh;

  /* Text */
  line-height: 1.5;
  font-size: 0.94rem;

  /* UX */
  cursor: default;
  /* Disable "tap highlight" effect on iOS for calmer, tidier ux/ui */
  -webkit-tap-highlight-color: transparent;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* if change the max-width value below, then need to change grid gap media queries in all bento sections too */
@media (max-width: 420px) {
  #root {
    padding: 1rem;
  }
}

::selection {
  color: var(--bg-color);
  /* background-color: var(--accent-color); */
  background-color: white;
}

/* Section headings */
h2 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  padding-top: 16rem;
}

/* Section subheadings and heading in footer */
h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 550;
  letter-spacing: 0.5px;
}

.subheading {
  opacity: 0.5;
  padding-left: 2px;
}
